<!--<ul>
    <li *ngFor="let person of employees">{{person.Name}}</li>
</ul>-->

<table class="table table-condensed table-striped table-bordered text-left">
    <thead>
        <tr>
            <th>ID:</th>
            <th>Name:</th>
            <th>Age:</th>
            <th>CreatedAt:</th>
            <th>Status:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let info of employees">
            <td>{{info.id}}</td>
            <td>{{info.name}}</td>
            <td>{{info.age}}</td>
            <td>{{info.createdAt | date}}</td>
            <td>{{info.status}}</td>
        </tr>
    </tbody>
</table>